.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 2px;
}
.sections__item {
  background: #282828;
  border-radius: 10px;
  flex: auto;
}

.section {
  padding: 30px;
  overflow: auto;
  max-width: calc(100vw - 2px);
}
.section__title {
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 40px;
}
.section__content {
}
.section__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section__item {
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.row__title {
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  height: 46px;
  line-height: 46px;
}
.row__content {
}
.row__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.row__item {
}
.row__symbols {
  display: flex;
  align-items: center;
  gap: 1px;
}
.row__symbol {
}
.row__example {
  margin-top: 8px;
}

.sybmol {
  font-size: 26px;
  line-height: var(--symbol-size);
  min-width: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(255, 255, 255, 0.08);
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  position: relative;
  font-weight: 400;
}
.sybmol_space {
  display: flex;
  height: var(--symbol-size);
  padding: 0;
  --space-background-line: rgba(255, 255, 255, 0.24);
  --space-background-bg: var(--section-color);
  background-size: 4px 4px;
  background-image: linear-gradient(
    135deg,
    var(--space-background-line) 12.5%,
    var(--space-background-bg) 12.5%,
    var(--space-background-bg) 50%,
    var(--space-background-line) 50%,
    var(--space-background-line) 62.5%,
    var(--space-background-bg) 62.5%,
    var(--space-background-bg) 100%
  );
}
.sybmol_space_s {
  min-width: 9px;
}

.sybmol_space_l {
  min-width: 18px;
}
.sybmol:active {
  background: #282828;
}

button.sybmol:not(:disabled):hover {
  background: #555;
}

.example {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.36);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button.example:not(:disabled):hover {
  opacity: 1;
}

.example_copied {
  opacity: 0.2;
}

[data-tooltip] {
    position: relative;
}
[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.36);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;

  background: #393939;
  border-radius: 5px;

  left: 50%;
  top: -4px;
  transform: translate(-50%, -100%);
}
