body {
  margin: 0;
  font-size: 16px;
  font-family: "Martian Mono", monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-feature-settings: "tnum" on, "lnum" on;

  --bg-color: #1a1a1a;
  --section-color: #282828;
  --symbol-size: 46px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button:focus-visible {
  outline: 2px solid white;
}
